# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Log files and experimental outputs
logs/
*.log
*.out
experiments/*/logs/*.out
experiments/*/traces/*.pt

# Documentation build files
docs/build/

# Large binary files in material
docs/material/

# Environment
.env
.venv
env/
venv/

# IDE / Editor specific
.vscode/
.idea/

# Slurm output files
slurm-*.out
